@media (max-width: 575.98px) { 
    .top_section .top_part .heading_section h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
        font-weight: 800px;
        line-height: 1.9;
}
    
    .top_section .top_part .heading_section p {
    color: #ffffff;
    font-size: 15px;
    line-height: 33px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}
    .work_section .row .col-md-3 .over_lay h4{
    padding-top: 2%;
    font-family: Raleway;
color:
#ffffff;
font-size: 14px;
font-weight: 700;
text-align: center;
}
    .team_section .top_team img{
        display: block;
        margin: 0 auto;
    }
    .team_section .top_team h4{
	font-family: 'Raleway', sans-serif;
color: #2d3033;
font-size: 22px;
font-weight: 400;
text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.team_section .top_team span{
    font-family: 'Raleway', sans-serif;
color: #e84545;
font-size: 13px;
font-weight: 600;
text-align: center;
    display: block;
}
.team_section .top_team p{
    font-family: 'Raleway', sans-serif;
color: #6c7279;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
    margin-top: 20px;
}
    .team_section .icon_cls{
        margin-left: 37%;
    }
.team_section .icon_cls .inner_fab{
    position: relative;
    height: 30px;
    width: 30px;
    border-style: solid;
border-width: 1px;
border-color: #e8ecee;
box-sizing: border-box;
background-color: #ffffff;
    margin-right: 10px;
}
.team_section .icon_cls .inner_fab .fab{
    
    position: absolute;
    left: 30%;
    top: 20%;
    max-width: 30px;
    margin-top: 2px;
    color: #c6cacc;
}
    .carousel-indicators > li {
  border-radius: 50%;
    height: 10px;
    width: 10px;
}
.carousel-caption h5{
    font-family: 'Cardo', serif;
color: #ffffff;
font-size: 36px; 
font-style: italic;
line-height: 42px; 
text-align: center;
}
.carousel-caption p{
    font-family: Raleway;
color: #ffffff;
font-size: 13px; 
font-weight: 700;
line-height: 21px; 
text-align: left;
}
.carousel-caption{
    padding-bottom: 70px;
}
    .cliet_section2 .download_part h2{
    font-family: Raleway;
color: #2d3033;
font-size: 28px;
font-weight: 300;
line-height: 35px;
text-align: center;

}
.cliet_section2 .download_part p{
    font-family: Raleway;
color: #2d3033;
font-size: 13px;
font-weight: 700;
line-height: 21px;
text-align: center;
}
.cliet_section2 .download_part a{
    padding: 20px 40px;
    border-radius: 2px;
background-color:
#e84545;
    font-family: Raleway;
color: #ffffff;
font-size: 13px; /* Approximation due to font substitution */
font-weight: 600;
line-height: 21px; /* Approximation due to font substitution */
text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

}




/*
@media (max-width: 767.98px) { 
    .top_section .top_part .heading_section h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
        font-weight: 800px;
        line-height: 1.9;
}
.team_section .top_team p{
    font-family: 'Raleway', sans-serif;
color: #6c7279;
font-size: 12px;
font-weight: 600;
line-height: 21px;
text-align: left;
    margin-top: 20px;
}
}*/
